<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onFormSubmit(registerForm.value)"
      class="example-form"
    >
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="name"
          placeholder="Full Name"
          formControlName="name"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched"
            >Please enter your Full Name</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="username"
          placeholder="Username"
          formControlName="username"
          [errorStateMatcher]="matcher"
          autoComplete="username"
        />
        <mat-error>
          <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
            >Please enter your username</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          [errorStateMatcher]="matcher"
          autoComplete="current-password"
        />
        <mat-error>
          <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
            >Please enter your password</span
          >
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          mat-stroked-button
          color="primary"
          class="btn-block"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card>
</div>
